* body {
  overflow-x: hidden;
}

#navbar {
  background-color: #D4574A;
}

.nav-tittle {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
}

.nav-tittle i {
  padding-right: 10px;
}
  
.nav-tittle a,
.nav-tittle a:visited {
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}

.nav-i-search,
.nav-i-user,
.nav-i-rss,
.nav-i-bars {
  display: none;
}

.fa-map-marker-alt {
font-size: 40px;
}

.nav-buttons-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 0;
  width: 50%;
}

.nav-buttons-ul a,
.nav-buttons-ul a:visited,
.nav-buttons-ul a:hover {
  text-decoration: none;
  color: white;
}

h6 {
  color: gray;
}

.filter-container {
  background-color: #EEEEEE;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.filter-ul {
  list-style: none;
  padding: 0;
}

.filter-ul-li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.dropdown-select {
  width: 58%;
  height: 30px;
}

.search-blue-btn {
  background-color: #457DB4;
  color: white;
  border: 0;
  margin-right: 10px;
}

.filter-ul-li button {
  background-color: #E5AB5B;
  color: white;
  border: 0;
}

.input-n::-webkit-outer-spin-button,
.input-n::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-n[type=number] {
  -moz-appearance: textfield;
}

.houses-section {
  margin-top: 50px;
}

h2 {
  color: gray;
  text-align: center;
}

.houses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house {
  margin: 20px;
  display: flex;
  align-items: flex-end;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E17F66;
  width: 100%;
  height: 200px;
}

.house span {
  display: flex;
  text-align: center;
  width: 20%;
  border: 1px solid black;
  color: white;
  background-color: #519CD7;
}

.house-one {
  background-image: url('../images/searchpageimgs/house1.jpg');
}

.house-two {
  background-image: url('../images/searchpageimgs/house2.jpg');
}

.house-three {
  background-image: url('../images/searchpageimgs/house3.jpg');
}

.house-four {
  background-image: url('../images/searchpageimgs/house4.jpg');
}

.house-five {
  background-image: url('../images/searchpageimgs/house5.jpg');
}

.house-six {
  background-image: url('../images/searchpageimgs/house6.jpg');
}

.big-link {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
}

/* start sm footer style */

.top,
.mid {
  display: none;
}

.bottom {
  height: 20%;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px 0 10px 0;
}

.social-media-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: start;
  width: 100%;
  color: gray;
}

.social-media-ul li {
  padding-left: 2px;
}

.copyright p {
  text-align: center;
  margin: 0;
}

/* end sm footer style */

@media (min-width: 768px) {
  /* start md navbar style */

  #navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-tittle {
    width: 50%;
    display: flex;
    justify-content: start;
  }

  .nav-tittle h1 {
    padding-left: 20px;
    margin-left: 20px;
  }

  .nav-buttons {
    width: 50%;
  }

  .nav-buttons-ul {
    padding-bottom: 10px;
    width: 80%;
  }

  /* end md navbar style */

  .filter-ul {
    display: flex;
    justify-content: center;
  }

  .filter-ul-li {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
  }

  .btn {
    height: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown-select {
    width: 100%;
  }

  .houses-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .house {
    margin: 0;
  }
 
  /* start md footer style */

  .footer {
    display: contents;
    height: 600px;
  }
  
  .top,
  .mid {
    height: 40%;
    background-color: #000000;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    height: 20%;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px 0 10px 0;
  }

  .footer-top-ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .footer-top-list-element {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 20px 10px 20px;
    font-size: 10px;
    width: 100%;
    text-align: center;
  }

  .footer-top-ul a,
  .footer-top-ul a:visited {
    text-decoration: none;
    color: white;
  }

  .icon-li {
    border-radius: 25rem;
    border: 1px solid gray;
    padding: 25px !important;
    width: auto;
  }

  .fa-laptop-house {
    font-size: 30px;
  }

  .mid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    text-align: center;
  }

  .mid h6 {
    letter-spacing: 5px;
    padding-bottom: 20px;
  }

  .mid p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .subscribe {
    text-align: center;
    color: white;
    width: 20%;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
  }

  .em {
    width: 70%;
    background-color: #000000;
  }

  .em-button {
    width: 30%;
    border: none;
    background-color: #1F1F1F;
    color: white;
  }

  .contact {
    text-align: center;
  }

  .contact-p {
    color: #D4574A;
  }

  .social-media-icons {
    width: 50%;
  }

  .social-media-ul {
    list-style: none;
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: start;
    width: 100%;
    color: gray;
  }

  .social-media-ul li {
    padding: 0 5px 0 5px;
  }

  .copyright {
    margin-right: 30px;
  }

  /* start md footer style */  
}

@media (min-width: 1024px) {
  /* start lg navbar style */
  
  .nav-i-search,
  .nav-i-user,
  .nav-i-rss,
  .nav-i-bars {
    display: contents;
  }

  .nav-buttons-ul i {
    padding-right: 20px;
  }

  /* end lg navbar style */

  form {
    width: 100%;
  }

  .houses-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }

  .houses-section {
    margin-bottom: 50px;
  }

  .house {
    margin: 0;
  }
}